django
django-environ
django-cors-headers
djangorestframework
Pillow

argon2-cffi
djoser
djangorestframework-simplejwt
PyJWT
social-auth-app-django
social-auth-core

django-storages
django-ckeditor
psycopg2

gunicorn
whitenoise
boto3